.individual {
  width: 30%;
  max-width: 300px;
  /*height: 300px;*/
  border: 10px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.individual:before {
	content: "";
	padding-top: 100%;
	width: 100%;
	display: block;
}

.individual__photo {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}