.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #ebdfc5;
  position: relative;
}

@media screen and (max-width: 40em) {
	.dashboard {
		flex-direction: column;
	}
}
