.footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.iconContainer {
	width: 10%;
	display: flex;
	justify-content: space-around;
}

.icons:hover {
  opacity: 0.5;
}

.social-icon__type {
	font-size: 1.75em;
}

.icon-facebook3 {
	color: #3b5998;
}

.icon-twitter3 {
	color: #1da1f3;
}