html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.05em;
}

a {
  color: initial;
  text-decoration: none;
}

figure {
  margin: 0;
}

button {
  background: 0;
  border: 0;
  outline: 0;
}

.center-align--block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
